QMainWindow {
    background-image: url('menu_background.png');
    background-position: center;
}
QLabel {
    color: #CF7A99;
    font-family: 'Game Paused DEMO';
    font-size: 38px;
}
QPushButton {
    font-family: 'ARCADECLASSIC';
    font-size: 30px;
    background-color: white;
    color: #963859;
    border: 2px solid #CF7A99;
    border-radius: 6px;
    padding: 6px 14px;
}
QPushButton:hover {
    background-color: #FAC3D2;
    border: #963859; 
}
QPushButton:pressed {
    background-color: #f48fb1;
    padding-top: 17px;
    padding-bottom: 13px;
}